{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": {{ xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
{% for client in _xray_clients %}
          {
            "id": "{{ client.uuid }}",
            "email": "{{ client.name }}@xray"{% if xray_vless_flow | length > 0 %},
            "flow": "{{ xray_vless_flow }}"{% endif %}

          }{% if not loop.last %},{% endif %}

{% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_reality_dest }}",
          "xver": 0,
          "serverNames": {{ xray_reality_server_names | to_json }},
          "privateKey": "{{ _xray_reality_privkey }}",
          "shortIds": [
            "{{ _xray_shortid }}"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
