{
  "log": {
    "loglevel": "warning",
    "access": "/var/log/xray/access.log"
  },
  "stats": {},
  "policy": {
    "levels": {
      "0": {
        "statsUserUplink": true,
        "statsUserDownlink": true
      }
    },
    "system": {
      "statsInboundUplink": true,
      "statsInboundDownlink": true
    }
  },
  "api": {
    "tag": "api",
    "services": [
      "HandlerService",
      "StatsService",
      "LogService"
    ]
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": {{ xray_port }},
      "protocol": "vless",
      "tag": "vless-in",
      "settings": {
        "clients": [
{% for client in _xray_clients %}
          {
            "id": "{{ client.uuid }}",
            "email": "{{ client.name }}@xray"{% if xray_vless_flow | length > 0 %},
            "flow": "{{ xray_vless_flow }}"{% endif %}

          }{% if not loop.last or (xray_wg_uplink_uuid | default('') | length > 0) %},{% endif %}

{% endfor %}
{% if xray_wg_uplink_uuid | default('') | length > 0 %}
          {
            "id": "{{ xray_wg_uplink_uuid }}",
            "email": "wg-clients@xray"
          }
{% endif %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_reality_dest }}",
          "xver": 0,
          "serverNames": {{ xray_reality_server_names | to_json }},
          "privateKey": "{{ _xray_reality_privkey }}",
          "shortIds": [
            "{{ _xray_shortid }}"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    },
    {
      "listen": "127.0.0.1",
      "port": {{ xray_api_port }},
      "protocol": "dokodemo-door",
      "tag": "api",
      "settings": {
        "address": "127.0.0.1"
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": {
        "domainStrategy": "UseIPv4"
      }
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "type": "field",
        "inboundTag": ["api"],
        "outboundTag": "api"
      },
      {
        "type": "field",
        "ip": ["::/0"],
        "outboundTag": "block"
      }
    ]
  }
}
