vless://{{ _client_uuid }}@{{ _client_address_direct }}:{{ _client_port_direct }}?encryption=none&security=reality&sni={{ xray_reality_server_names[0] }}&fp={{ xray_reality_fingerprint }}&pbk={{ _xray_reality_pubkey }}&sid={{ _xray_shortid }}&type=tcp{% if xray_vless_flow | length > 0 %}&flow={{ xray_vless_flow }}{% endif %}#{{ _client_name }}{% if server_b_country is defined and server_b_country | length > 0 %}_{{ server_b_country }}{% endif %}

vless://{{ _client_uuid }}@{{ _client_address_relay }}:{{ _client_port_relay }}?encryption=none&security=reality&sni={{ xray_reality_server_names[0] }}&fp={{ xray_reality_fingerprint }}&pbk={{ _xray_reality_pubkey }}&sid={{ _xray_shortid }}&type=tcp{% if xray_vless_flow | length > 0 %}&flow={{ xray_vless_flow }}{% endif %}#{{ _client_name }}{% if server_a_country is defined and server_b_country is defined and server_a_country | length > 0 and server_b_country | length > 0 %}_{{ server_a_country }}_{{ server_b_country }}{% else %}-via-relay{% endif %}
