vless://{{ _client_uuid }}@{{ _client_address_direct }}:{{ _client_port_direct }}?encryption=none&security=reality&sni={{ xray_reality_server_names[0] }}&fp={{ xray_reality_fingerprint }}&pbk={{ _xray_reality_pubkey }}&sid={{ _xray_shortid }}&type=tcp{% if xray_vless_flow | length > 0 %}&flow={{ xray_vless_flow }}{% endif %}#{{ _client_name }}

vless://{{ _client_uuid }}@{{ _client_address_relay }}:{{ _client_port_relay }}?encryption=none&security=reality&sni={{ xray_reality_server_names[0] }}&fp={{ xray_reality_fingerprint }}&pbk={{ _xray_reality_pubkey }}&sid={{ _xray_shortid }}&type=tcp{% if xray_vless_flow | length > 0 %}&flow={{ xray_vless_flow }}{% endif %}#{{ _client_name }}-via-relay
